<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta Information -->
  <title>VaultPass - Home Page</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- External CSS -->

  <!-- Fonts -------------------------------------------------------->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Spice&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap"
    rel="stylesheet">

  <!-- NAV CSS -->
  <link rel="stylesheet" href="/styles/nav.css">
  <link rel="stylesheet" href="/styles/vaultPasses.css">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/newPass.css">
  <link rel="stylesheet" href="/styles/edit.css">

  <!--- App JS --->
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/add-website.js"></script>
  <script defer src="/scripts/password-generator.js"></script>
</head>

<body>
  <nav>
    <%- include('partials/_header') %>
  </nav>
  </main>
  <section class="main-edit-container">
    <div>
      <form id="edit-pass" class="new-vaultpass" action="/<%= existingPassword.id %>/edit" method="POST">
        <div class="edit-container">
          <!-- <label for="category">Category:</label> -->
            <select id="category" name="category">
              <% categories.forEach(category => { %>
                <option value="<%= category %>" <%= (existingPassword.category === category) ? 'selected' : null %>><%= category %></option>
              <% }); %>
            </select>
          <input value="<%= existingPassword.url %>" type="text" name="url" placeholder="Website URL">
          <input value="<%= existingPassword.username %>" type="text" name="username" placeholder="Username">
          <div class="password-container">
            <input class="passTextArea" value="<%= existingPassword.password %>" type="text" name="password" placeholder="Password">
            <button class="generatePassButton" type="button" id="generate-password">Generate Password</button>
          </div>  
        </div>
        <div class="update-cancel-container">
          <button class="new-entry" type="submit">Update VaultPass</button>
          <button id="cancel" class="new-entry" type="button">Cancel</button>
        </div>
      </form>
      <div>
        <!-- <button type="button" id="generate-password">Generate Password</button> -->
      </div>
    </div>
  </section>
</body>
</html>